@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --cor-principal:#262322;
    --cor-secundaria:#90A959;
    --cor-complementar:#ED1212;
}

body{
    background-color: var(--cor-secundaria);
}

header{
    min-height: 65px;
    background-color: #262322;
    margin-bottom: 10px;
}
header img{
    height: 45px;
    padding: 5px;
    margin-left: 10px;
}
h2{
    padding-top: 5px;
}
@media (min-width: 850px){
   main{
    max-width: 65vw;
    margin: auto;
    border-radius: 20px;
   }

   #correçãodelayout{
    margin: 0px 50px 0px -50px;
}

}

main{
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    background-color: #ffffff;
  
}
main p{
    text-align: justify;
}
main h2, h1, p, svg{
    margin: 20px;
   
}

.imginicial img{
    width: 100%;    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: var(--cor-complementar);
    color: white;
}

section img{
    border-radius: 100%;
}
.conteiner-serviço{
    display: flex;
    margin: 10px;
    text-align: center;
    
}


button{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor-complementar);
    color: white;
    font-size: 1em;
}

.entreemcontato{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

footer{
    height: 10px;
    padding: 20px;
    font-size: 0.5em;
    text-align: center;
    background-color: var(--cor-principal);
    color: #ffffff;
    display: flex;
    justify-content: center;
}
footer img{ 
    margin-right: 5px;
}
footer p{
    margin: -1px;
    font-size: 1em;
   word-spacing: 0.5em;
}