@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}

header{
    min-height: 100px;
    background-color: #101010;
    margin-bottom: 10px;
}

main{
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    background-color: #ffffff;
  
}
main h2, h1, p, svg{
    margin: 20px;
   
}


div img{
    width: 100%;
    
}
article{
    padding: 20px 5px 0px;
    
    
}
article img{
    border-radius: 100%;
}

button{
    padding: 10px;
    border-radius: 10px;
    background-color: #ED1212;
    
}
.entreemcontato{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}
footer{
    height: 10px;
    padding: 20px;
    font-size: 0.5em;
    text-align: center;
    background-color: #101010;
    color: #ffffff;
}
footer p{
    margin: -1px;
}